.form__search {
  display: block;
}
.form__search input[type="search"] {
  border: solid 3px #fff;
  box-sizing: border-box;
  border-radius: 4px;
  outline: solid #fc0 0;
  padding: 0.5em;
  transition: all 2s ease-in;
  z-index: 1;
}

.form__search button {
    background-color: transparent;
    border-color: rgb(233, 233, 233);
    color: rgb(233, 233, 233);
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0 0 12px;
}

.form__search button:hover{
    background-color: rgb(233, 233, 233);
    color: black;
}
